.bundle/install.log
coverage/*
src/generated/*
.DS_Store
*.iml
*.eml
*.ipr
*.iws
.idea
out
gen
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.externalToolBuilders/
*.pydevproject
.cproject
.classpath
.factorypath
.buildpath
.target
target/
.tern-project
.texlipse
.springBeans
.recommenders/
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.mtj.tmp/
*.ear
hs_err_pid*
RemoteSystemsTempFiles/
Servers/
/target/
